body
{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

main
{
	margin: 0px auto 100px auto;
	padding: 10px;
}

#title, footer, #prochainement
{
	background-color: mediumseagreen;
	color: yellow;
	padding: 15px;
	font-size: 1.5em;
}

header h1
{
	margin: 15px 0px 15px 0px;
}

h1
{
	margin: 40px 0px 20px 0px;
	text-align: center;
}

h3
{
	font-size: 1.1em;
}

a
{
	text-decoration: none;
}

header
{
	text-align: center;
}

#principal
{
	margin: 0px 40px 0px 40px;
	color: darkred;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.fab
{
	font-size: 3em;
	background:linear-gradient(86deg, #f05060 30%, #f6916a 62%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent
}

#menu1 .boutou-menu
{
	background-color: #fcdfdb;
	color: #3d1319;
}

#menu3
{
	background-color: #edefef;
}

footer
{  
	display: flex;
	justify-content: space-between;
    position: fixed;
    margin: 0px;
    padding: 0px;
    bottom: 0;
    left: 0;
    width: 100%;
}

#end_title
{
	display: flex;
	justify-content: center;
}

#prochainement
{
	display: flex;
	justify-content: center;
	border-radius: 10px;
	padding: 0px;
	margin: 10px 25% 10px 25%;
}

#prochainement p
{
	margin: 10px;
}

.bouton
{
	padding: 10px 30px;
	color: yellow;
}

.bouton:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.menu
{
    margin: 10px;
	padding: 150px 50px 200px 50px;
	width: 140px;
	height: 15px;
	border: 1px black solid;
	text-align: center;
}

.bouton-menu
{
    cursor: pointer;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;
}

.bouton-menu:hover 
{
    transform: scale(1.35);
}

@media all and (min-width: 576px)
{
    body, footer
	{
		margin: 0px 10% 0px 10%;
	}

	footer
	{
		width: 80%;
	}

	#principal
	{
	    padding: 20px;
	}

	#prochainement
	{
		margin: 10px 33% 10px 33%;
	}
}

@media all and (min-width: 992px)
{
	body, footer
	{
		margin: 0px 15% 0px 15%;
	}

	footer
	{
		width: 70%;
	}

	#prochainement
	{
		margin: 10px 38% 10px 38%;
	}
}

@media all and (min-width: 1200px)
{
	body, footer
	{
		max-width: 800px;
		margin: 0px 20% 0px 20%;
	}

	footer
	{
		width: 60%;
	}

	.menu
	{
		padding: 150px 67px 200px 67px;
	}
}