@font-face {
    font-family: 'dancing_script_otregular';
    src: url('fonts/dancingscript-regular-webfont.eot');
    src: url('fonts/dancingscript-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dancingscript-regular-webfont.woff2') format('woff2'),
         url('fonts/dancingscript-regular-webfont.woff') format('woff'),
         url('fonts/dancingscript-regular-webfont.svg#dancing_script_otregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'zhi_mang_xingregular';
    src: url('fonts/zhimangxing-regular-webfont.eot');
    src: url('fonts/zhimangxing-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/zhimangxing-regular-webfont.woff2') format('woff2'),
         url('fonts/zhimangxing-regular-webfont.woff') format('woff'),
         url('fonts/zhimangxing-regular-webfont.svg#zhi_mang_xingregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'blokletters_balpenbalpen';
    src: url('fonts/Blokletters-Balpen-webfont.eot');
    src: url('fonts/Blokletters-Balpen-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Blokletters-Balpen-webfont.woff2') format('woff2'),
         url('fonts/Blokletters-Balpen-webfont.woff') format('woff'),
         url('fonts/Blokletters-Balpen-webfont.ttf') format('truetype'),
         url('fonts/Blokletters-Balpen-webfont.svg#blokletters_balpenbalpen') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'croissant_oneregular';
    src: url('fonts/croissantone-regular-webfont.eot');
    src: url('fonts/croissantone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/croissantone-regular-webfont.woff2') format('woff2'),
         url('fonts/croissantone-regular-webfont.woff') format('woff'),
         url('fonts/croissantone-regular-webfont.svg#croissant_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('fonts/kaushanscript-regular-webfont.eot');
    src: url('fonts/kaushanscript-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/kaushanscript-regular-webfont.woff2') format('woff2'),
         url('fonts/kaushanscript-regular-webfont.woff') format('woff'),
         url('fonts/kaushanscript-regular-webfont.svg#kaushan_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

main
{
	margin: 0px auto 100px auto;
	padding: 10px;
}

#title, footer, #prochainement
{
	background-color: mediumseagreen;
	color: yellow;
	padding: 15px;
	font-size: 1.5em;
}

header h1
{
	margin: 15px 0px 15px 0px;
}

h1
{
	margin: 40px 0px 20px 0px;
	text-align: center;
}

h3
{
	font-size: 1.1em;
}

a
{
	text-decoration: none;
}

header
{
	text-align: center;
}

#principal
{
	margin: 0px 40px 0px 40px;
	color: darkred;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.fab
{
	font-size: 3em;
	background:linear-gradient(86deg, #f05060 30%, #f6916a 62%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent
}

#menu1 
{
	background-color: #fcdfdb;
}

#menu3
{
	background-color: #edefef;
}

#title-menu1
{
	color: #3d1319;	
}

#title-menu1 h3
{
	font-family: 'zhi_mang_xingregular';
	font-size: 1.5em;
	margin-top: 0;
}

#title-menu1 h2
{
	font-family: 'blokletters_balpenbalpen';
}

#title-menu2 h3
{
	font-family: 'croissant_oneregular';
	background:#e38a12;
    background:linear-gradient(165deg, #e38a12 16%, #8f5aff 82%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

#title-menu2 h2
{
	color: #e38a12;
}

#title-menu3 h3
{
	font-family: 'dancing_script_otregular';
	background:#e38a12;
    background:linear-gradient(165deg, #0022db 16%, #0889fb 82%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

#title-menu3 h2
{
	color: #0889fb;
	font-family: 'blokletters_balpenbalpen';
}

#title-menu4 h3
{
	background:linear-gradient(165deg, #3d923a 16%, #beff7f 82%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    font-family: 'kaushan_scriptregular';
}

#title-menu4 h2
{
	color: #3d923a;
	font-family: 'blokletters_balpenbalpen';
}

footer
{  
	display: flex;
	justify-content: space-between;
    position: fixed;
    margin: 0px;
    padding: 0px;
    bottom: 0;
    left: 0;
    width: 100%;
}

#end_title
{
	display: flex;
	justify-content: center;
}

#prochainement p
{
	margin: 10px;
}

.bouton
{
	padding: 10px 30px;
	color: yellow;
}

.bouton:hover 
{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake 
{
    10%, 90% 
    {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% 
    {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% 
    {
        transform: translate3d(-4px, 0, 0);
    } 

    40%, 60% 
    {
        transform: translate3d(4px, 0, 0);
    }
}

.menu
{
    margin: 10px;
	padding: 150px 50px 200px 50px;
	width: 140px;
	height: 15px;
	border: 1px black solid;
	text-align: center;
}

.bouton-menu 
{
    cursor: pointer;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;
    opacity: 1;
}

.bouton-menu:hover 
{
    transform: scale(1.35);
    opacity: 0.6;
}

#prochainement
{
	display: flex;
	justify-content: center;
	border-radius: 12px;
	padding: 0px;
	margin: 10px 25% 10px 25%;
}

#prochainement:hover .loader_dot
{
	animation: bounce-fade 1s infinite ease-in-out;
}

#prochainement:hover .loader_dot:nth-child(1)
{
	animation-delay: .25s;
}

#prochainement:hover .loader_dot:nth-child(2)
{
	animation-delay: .5s;
}

#prochainement:hover .loader_dot:nth-child(3)
{
	animation-delay: .75s;
}

#prochainement p
{
	text-align: center;
	display: flex;
	align-items: center
	margin: 10px;
}

#prochainement p .loader
{
	display: flex;
	margin: 11px 0 0 0;
	height: 15px;
	justify-content: center;
}

#prochainement p .loader_dot
{
	background-color: yellow;
	border-radius: 8px;
	display: block;
	width: 0.4vw;
	height: 0.4vw;
	margin: 0 0.2vw;
	transform: translateY(0.4vw);
	opacity: 1;
}

@keyframes bounce-fade
{
	0%,100%
    {
	    transform:translateY(0.4vw); 
	    opacity: 1;
    }
    30%
    {
    	opacity: 0.6;
    }
    80%
    {
    	opacity: 0.4;
    	transform: translateY(0);
    }
    90%
    {
    	opacity: 0.2;
    	transform: translateY(0);
    }
}


@media all and (min-width: 576px)
{
    body, footer
	{
		margin: 0px 10% 0px 10%;
	}

	footer
	{
		width: 80%;
	}

	#principal
	{
	    padding: 20px;
	}

	#prochainement
	{
		margin: 10px 33% 10px 33%;
	}
}

@media all and (min-width: 992px)
{
	body, footer
	{
		margin: 0px 15% 0px 15%;
	}

	footer
	{
		width: 70%;
	}
}

@media all and (min-width: 1200px)
{
	body, footer
	{
		max-width: 800px;
		margin: 0px 20% 0px 20%;
	}

	footer
	{
		width: 60%;
	}

	.menu
	{
		padding: 150px 61px 200px 61px;
	}
}