@font-face {
    font-family: 'croissant_oneregular';
    src: url('fonts/croissantone-regular-webfont.eot');
    src: url('fonts/croissantone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/croissantone-regular-webfont.woff2') format('woff2'),
         url('fonts/croissantone-regular-webfont.woff') format('woff'),
         url('fonts/croissantone-regular-webfont.svg#croissant_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

h1,h2
{
	text-align: center;
}

h1
{
	margin: 40px 0px 20px 0px;
}

h2
{
	margin: 0px;
}

.plats
{
	margin: 25px 70px 50px 70px;
}

.title-plats
{
	display: flex;
	justify-content: space-between;
}

.container_soulign 
{
 align-items:center;
 justify-content:center;
 margin: 0px;
}

.container_soulign div 
{
 width:0%;
 height:2px;
 background-color:black;
 margin: 0px;
}

.container_soulign:hover div 
{
 width:100%;
 transition:all 500ms;
}

div
{
	margin: 10px;
}

table
{
	text-align: left;
	margin: 25px 0px 50px 0px; 
}

.prix1
{
	padding: 5px 5px 5px 160px;
	font-size: 1em; 
}

.prix2
{
	padding: 5px 5px 5px 50px;
	font-size: 1em; 
}

#title, footer
{
	background-color: mediumseagreen;
	color: yellow;
	padding: 15px;
	font-size: 1.5em;
}

main
{
	margin: 0px auto 100px auto;
	padding: 10px;
}

#principal
{
	margin: 0px 40px 0px 40px; 
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-family: "blokletters_balpenbalpen";
	font-size: 0.85em;
}

header
{
	text-align: center;
}

header h1
{
	margin: 15px 0px 15px 0px;
}

footer
{  
	display: flex;
	justify-content: space-between;
    position: fixed;
    margin: 0px;
    padding: 0px;
    bottom: 0;
    left: 0;
    width: 100%;
}

img
{
	width: 30%;
	height: 40%;
	margin: 5px 0px 0px 0px;
}

#title-main
{
	margin-bottom: 50px;
	margin: 60px 0px 60px 0px;
	background:#e38a12;
    background:linear-gradient(165deg, #e38a12 16%, #8f5aff 82%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    font-family: 'croissant_oneregular';
}

#end_title
{
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.bouton
{
	padding: 10px 30px;
	color: yellow;
	text-decoration: none;
}

.bouton:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

#color1
{
	color: chocolate;
}

#color2
{
	color: mediumorchid;
}

#color3
{
	color: mediumslateblue;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@media all and (min-width: 576px)
{
    body, footer
	{
		margin: 0px 10% 0px 10%;
	}

	main
	{
	    padding: 50px;
	}

	footer
	{
		width: 80%;
	}

	#principal
	{
	    padding: 20px 20px 100px 20px;
	}
}

@media all and (min-width: 992px)
{
	body, footer
	{
		margin: 0px 15% 0px 15%;
	}

	footer
	{
		width: 70%;
	}
}

@media all and (min-width: 1200px)
{
	body, footer
	{
		max-width: 800px;
		margin: 0px 20% 0px 20%;
	}

	footer
	{
		width: 60%;
	}
}