@font-face {
    font-family: 'blokletters_balpenbalpen';
    src: url('fonts/Blokletters-Balpen-webfont.eot');
    src: url('fonts/Blokletters-Balpen-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Blokletters-Balpen-webfont.woff2') format('woff2'),
         url('fonts/Blokletters-Balpen-webfont.woff') format('woff'),
         url('fonts/Blokletters-Balpen-webfont.ttf') format('truetype'),
         url('fonts/Blokletters-Balpen-webfont.svg#blokletters_balpenbalpen') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'zhi_mang_xingregular';
    src: url('fonts/zhimangxing-regular-webfont.eot');
    src: url('fonts/zhimangxing-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/zhimangxing-regular-webfont.woff2') format('woff2'),
         url('fonts/zhimangxing-regular-webfont.woff') format('woff'),
         url('fonts/zhimangxing-regular-webfont.svg#zhi_mang_xingregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'croissant_oneregular';
    src: url('fonts/croissantone-regular-webfont.eot');
    src: url('fonts/croissantone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/croissantone-regular-webfont.woff2') format('woff2'),
         url('fonts/croissantone-regular-webfont.woff') format('woff'),
         url('fonts/croissantone-regular-webfont.svg#croissant_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dancing_script_otregular';
    src: url('fonts/dancingscript-regular-webfont.eot');
    src: url('fonts/dancingscript-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dancingscript-regular-webfont.woff2') format('woff2'),
         url('fonts/dancingscript-regular-webfont.woff') format('woff'),
         url('fonts/dancingscript-regular-webfont.svg#dancing_script_otregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('fonts/kaushanscript-regular-webfont.eot');
    src: url('fonts/kaushanscript-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/kaushanscript-regular-webfont.woff2') format('woff2'),
         url('fonts/kaushanscript-regular-webfont.woff') format('woff'),
         url('fonts/kaushanscript-regular-webfont.svg#kaushan_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	padding: 0;
}

header
{
	text-align: center;
}

header h1
{
	margin: 15px 0px 15px 0px;
}

main
{
	margin: 0px auto 100px auto;
	padding: 10px;
}

#title-main
{
	margin-bottom: 50px;
	margin: 30px 0px 20px 0px;
	font-family: 'zhi_mang_xingregular';
	font-size: 1.7em;
}

#title-main2
{
	background:#e38a12;
    background:linear-gradient(165deg, #e38a12 16%, #8f5aff 82%);
    font-family: 'croissant_oneregular';
}

#title-main3
{	
	background:#e38a12;
    background:linear-gradient(165deg, #0022db 16%, #0889fb 82%);
    font-size: 4.5em;
    font-family: 'dancing_script_otregular';
}

#title-main4
{
	background:linear-gradient(165deg, #3d923a 16%, #beff7f 82%);
    font-size: 4.5em;
    font-family: 'kaushan_scriptregular';
}

#title-main2, #title-main3, #title-main4
{
	margin-bottom: 50px;
	margin: 60px 0px 60px 0px;
	-webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

#principal1
{
	color: #3d1319;
	background-color: #fcdfdb;
	font-family: "blokletters_balpenbalpen";
	font-size: 0.7em;
}

#principal2
{
	font-size: 0.85em;
}

#principal3
{
	font-family: 'blokletters_balpenbalpen';
	font-size: 0.65em;
	background-color: #edefef;	
}

#principal4
{	
	font-family: "blokletters_balpenbalpen";
	font-size: 0.65em;
	font-weight: bold;
}

#principal1, #principal2, #principal3, #principal4
{
	margin: 0px 40px 0px 40px; 
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	box-shadow: 0 0 20px grey;
}

#title, footer
{
	background-color: #579C87;
	padding: 15px;
	font-size: 1.5em;
	font-family: sans-serif;
}

h1,h2
{
	text-align: center;
}

h1
{
	margin: 40px 0px 20px 0px;
}

h2
{
	margin: 0px;
}

#principal3 h2
{
	font-size: 1.2em;
	font-weight: normal;
}

#principal4 h2
{
	font-size: 1.1em;
}

img
{
	width: 30%;
	height: 40%;
	margin: 5px 0px 0px 0px;
}

a
{
	text-decoration: none;
	color: #FDCB46;
}

#color1
{
	color: chocolate;
}

#color2
{
	color: mediumorchid;
}

#color3
{
	color: mediumslateblue;
}

.fab
{
	font-size: 5em;
	margin: 0px 5px 0px 5px;
	background:linear-gradient(86deg, #f05060 30%, #f6916a 62%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent
}

#title-black
{
	font-family: sans-serif;
}

div
{
	margin: 10px;
}

.title-plats
{
	display: flex;
	justify-content: space-between;
}

.plats2
{
	margin: 25px 40px 50px 40px;
}

.plats3, .plats4
{
	margin: 0px 40px 0px 40px;
}

table
{
	text-align: left;
}

.plats2 table, .plats3 table, .plats4 table
{
	text-align: left;
	margin: 25px 0px 50px 0px; 
}

.prix1, .prix2
{
	padding: 5px 5px 5px 10px;
	font-weight: bold; 
}

.prix1-2, .prix2-2
{
	padding: 5px 5px 5px 10px; 
}

.prix1-3
{
	padding: 5px 0px 5px 0px; 
}

.prix2-3, .prix3-3
{
	padding: 5px;
}

.prix1-4, .prix2-4, .prix3-4
{
	padding: 5px 0px 5px 10px; 
}

.prix1-2, .prix2-2, .prix1-3, .prix2-3, .prix3-3, .prix1-4, .prix2-4, .prix3-4
{
	font-size: 1em;
}

.container_soulign 
{
    align-items:center;
    justify-content:center;
    margin: 0px;
}

.container_soulign div 
{
    width:0%;
    height:2px;
    background-color:black;
    margin: 0px;
}

.container_soulign:hover div 
{
    width:100%;
    transition:all 500ms;
}

#end_title
{
	display: flex;
	justify-content: center;
	margin-top: 50px;	
}

#end_title h2
{
	font-family: 'zhi_mang_xingregular';
	font-size: 2.8em;
}

footer
{  
	display: flex;
	justify-content: space-between;
    position: fixed;
    margin: 0;
    padding: 0;
    bottom: 0;
    width: 100%;
}

.bouton
{
	padding: 10px 30px;
}

.bouton:hover 
{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake 
{
    10%, 90% 
    {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% 
    {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% 
    {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% 
    {
        transform: translate3d(4px, 0, 0);
    }
}

@media all and (min-width: 576px)
{
	body, footer
	{
		margin: 0px auto 0px auto;
		max-width: 700px;
	}

	main
	{
	    padding: 50px;
	}

	#principal1
	{
	    padding: 20px;
	}

	#principal2, #principal3, .principal4
	{
	    padding: 20px 20px 100px 20px;
	}

	.prix1-2
    {
	    padding: 5px 5px 5px 160px;
    }

    .prix2-2
    {
	    padding: 5px 5px 5px 50px;
	}

	.prix1-3
    {
	    padding: 5px 0px 5px 0px;
    }

    .prix2-3
    {
	    padding: 5px 5px 5px 45px;
    }

    .prix3-3
    {
	    padding: 5px 5px 5px 210px; 
    }

	.prix1-4
    {
	    padding: 5px 0px 5px 100px; 
    }

    .prix2-4
    {
	    padding: 5px 0px 5px 30px;
    }

    .prix3-4
    {
	    padding: 5px 0px 5px 45px; 
    }
}

@media all and (min-width: 992px)
{
	body, footer
	{
		max-width: 750px;
	}

	.prix1
    {
	    padding: 5px 5px 5px 88px; 
    }

    .prix2
    {
	    padding: 5px 5px 5px 110px;
    }  
}

@media all and (min-width: 1200px)
{
	body, footer
	{
		max-width: 800px;
	}

	.plats2
    {
	    margin: 25px 70px 50px 70px;
    }

    .plats3
    {
	    margin: 0px 70px 0px 70px;
    }
}